{% extends 'base.html' %}

{% block content%}
<h2>Add new blog post</h2>

<form method="post" action="{% url 'add_post' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Publish</button>
    
    <a href="{% url 'add_author' %}?next={% url 'add_post' %}" target="_blank" class="btn btn-secondary">Add Author </a>
    <a href="{% url 'add_tag' %}?next={% url 'add_post' %}" class="btn btn-secondary">Add Tag</a>





<a href="{% url 'home' %}">Cancel</a>
</form>
{% endblock %}



